@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #031a29;
    --color-secundaria: #ffffff;
    --color-terciaria: #de0023;
    --color-oscuro:rgba(0, 0, 0, 0.6);
    --color-fondo: linear-gradient(135deg, #031a29, #09334e);
    --color-hover: #ffffff;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background: var(--color-fondo);
    color: var(--color-secundaria);
}

.header{
    padding: 2% 0% 0% 15%;
    background: var(--color-oscuro);
    padding: 15px 0;
}

.header__menu{
    display: flex;
    gap: 80px;
    justify-content: center;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundaria);
    text-decoration: none;
    transition: color 0.3s;
}

.header__menu__link:hover {
    color: #f0a500;
}

@media (max-width: 768px) {
    .header {
        padding: 10px 0;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header__menu__link {
        font-size: 1.2rem;
    }
}

.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.presentacion__contenido__titulo{
    font-size: 2rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciaria); ;
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: #22D4FD;
}

@media (max-width: 1200px) {

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;

    }

    .presentacion__contenido{
        width: auto;
    }
    
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
}
.presentacion__enlaces__link{
      display: flex;
      justify-content: center;
      gap: 16px;
      border: 2px solid var(--color-secundaria);
      width: 50%;
      text-align: center;
      border-radius: 8px;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 21.5px 0;
      text-decoration: none;
      color: var(--color-secundaria);
      font-family: var(--fuente-montserrat);
      transition: color 1.0s;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
    color: var(--color-primaria);
}

.presentacion__imagen{
    width: 50%;
}

@media (max-width: 1200px) {
    .presentacion__imagen {
        width: 75%;
        padding: 5% 0%;
    }
}
.footer{
    color:var(--color-secundaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.0rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.footer:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project-card img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 100%; /* Ajusta esto según lo que necesites */
    object-fit: cover; /* Recorta la imagen si es necesario para que se ajuste */
    border-radius: 5px; /* Suaviza las esquinas si lo deseas */
}

.project-card:hover {
    transform: scale(1.05);
}
